/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Meyers Reset */

*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* System Fonts */
body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
  --clr-accent: #27A1EE;
  --clr-light-primary: #0A8754;
  --clr-dark-primary: #004F2D;
}


/* Fluid font-size */
/* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */

body {
  display:flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topic {
  min-height: 400px;
  border: 1px solid black;
}

.topic {
  display: none;
}

.land {
  background-color: rgb(141, 76, 18);
}

.water {
  background-color: rgb(7, 149, 225);
}

.climate {
  background-color: skyblue;
}

.animals {
  background-color: rgb(229, 158, 26);
}

.substitution {
  background-color: #0A8754;
}

#land:checked ~ .land.topic,
#water:checked ~ .water.topic,
#climate:checked ~ .climate.topic,
#animals:checked ~ .animals.topic,
#substitution:checked ~ .substitution.topic {
  margin-left: 10px;
  display: block;
}
