/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Meyers Reset */

*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* System Fonts */
body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
  --clr-accent: #27A1EE;
  --clr-light-primary: #0A8754;
  --clr-dark-primary: #004F2D;
}


/* Fluid font-size */
/* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */


body {
  display:flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
}

/* Info Card Section */

.info-card {
  display: flex;
  flex-wrap: wrap;
  padding: 48px calc(30px + 6vw);
  gap: 16px;
  /* background-color: var(--clr-light-primary); */
}


.description {
  display: flex;
  flex: 1 0 50%;
  justify-content: center;
  align-items: center;
  gap: calc(12px + 3vw);
}

.description svg {
  aspect-ratio: 27 / 69;
  flex: 0 0 14%;
  min-width: 60px;
}

.text {
  flex: 0 0 70%;
  text-align: justify;
  max-width: calc(50% + 80px);
}

.text h1 {
  font-weight: 600;
  font-size: clamp(1.5rem, 0.6667rem + 4.1667vw, 4rem);
  margin-bottom: 12px;
}

.text p {
  font-size: clamp(1.125rem, 0.9583rem + 0.8333vw, 1.625rem);
}

/* .data {
  flex: 1 0 48%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 12px;
}

.data li {
  font-size: clamp(0.75rem, 0.625rem + 0.625vw, 1.125rem);
  text-align: justify;
  max-width: 90vw;
  margin: 4px 0;
}
.data li::before {
  content: "";
  display: inline-block;
  width: 10px;
  background-color: #009933;
  height: 10px;
  margin-right: 4px;
  border-radius: 50%;
} */

/* ###########
Clickable Tabs
############## */

input {
  display: none;
}

nav {
  width: 100%;
  display: flex;
  border-radius: 8px 8px 0 0;
  /* clip-path: fill-box; */
  /* margin-bottom: -10px; */
}

.tab-label {
  display: block;
  flex: 1 0 20%;
}

.svg {
  /* border: 1px solid red; */
  width: 100%;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5) inset;
  position: relative;
  top:10px;
  transition: all 0.25s;
}

.svg {
  text-align: center;
  width: 100%;
  aspect-ratio: calc(3/2);
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 14px;

}

[for='land']>.svg {
  background-color: rgb(141, 76, 18);
}


[for='water']>.svg {
  background-color: rgb(7, 149, 225);
}

[for='climate']>.svg {
  background-color: skyblue;
}

[for='animals']>.svg {
  background-color: rgb(229, 158, 26);
}

[for='substitution']>.svg {
  background-color: #0A8754;
}

[for='land']:hover>.svg,
#land:checked ~ nav [for='land']>.svg,
[for='water']:hover>.svg,
#water:checked ~ nav [for='water']>.svg,
[for='climate']:hover>.svg,
#climate:checked ~ nav [for='climate']>.svg,
[for='animals']:hover>.svg,
#animals:checked ~ nav [for='animals']>.svg,
[for='substitution']:hover>.svg,
#substitution:checked ~ nav [for='substitution']>.svg {
  top:0px;
  border-radius: 8px 8px 0 0;
  /* box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.5); */
  padding-bottom: 4px;
  transition: all 0.25s;
}

/* ########
Tab Content
########### */

.topic {
  min-height: 400px;
  width: 100vw;
  margin-top: 0px;

  display: none;
  z-index: 2;
}

.land {
  background-color: rgb(141, 76, 18);
}

.water {
  background-color: rgb(7, 149, 225);
}

.climate {
  background-color: skyblue;
}

.animals {
  background-color: rgb(229, 158, 26);
}

.substitution {
  background-color: #0A8754;
}

#land:checked ~ .land.topic,
#water:checked ~ .water.topic,
#climate:checked ~ .climate.topic,
#animals:checked ~ .animals.topic,
#substitution:checked ~ .substitution.topic {
  display: block;
}